<div id="one">
    <div class="wrapper special">
        <div class="inner">
            <header class="major">
                <h2>About Ulimii</h2>
            </header>
            <div class="image fit special">
                <img src="{{ "images/pic02.jpg" | relURL }}" alt="" />
            </div>
            <p class="special">Our four aims: inspire, engage, encourage and cultivate, provide a clear sense of purpose to drive the delivery of our mission.
            </p>
            <ul class="actions">
                <li><a href="/about" class="button">Details</a></li>
            </ul>
        </div>
    </div>
</div>