<!-- Banner -->
<div id="banner">
    <div class="wrapper style1 special">
        <div class="inner">
            <h1 class="heading alt">ULIMII</h1>
            <p>Connecting UK Boarding Schools and International Students
            </p>
            <div class="image fit special">
                <img src="{{ "images/hero.jpg" | relURL }}" alt="" />
            </div>
            <ul class="feature-icons">
                <li><a href="/"><span class="icon solid fa-child"></span><span class="label">GUARDIANSHIP</span></a></li>
                <li><a href="/school"><span class="icon solid fa-chalkboard-teacher"></span><span class="label">FOR SCHOOLS</span></a></li>
                <li><a href="/about"><span class="icon solid fa-question"></span><span class="label">ABOUT US</span></a></li>
                <li><a href="/about"><span class="icon solid fa-address-book"></span><span class="label">CONTACT US</span></a></li>
            </ul>
        </div>
    </div>
</div>