<!-- Three -->
<div id="three">
    <div class="wrapper alt special">
        <header class="major">
            <h2>Ante gravida elementum</h2>
            <p>Sed egestas, ante et vulputate volutpat pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum lorem ipsum dolor sit amet consequat hendrerit tortor semper lorem at felis.</p>
        </header>
        <div class="wrapper style3">
            <div class="inner">
                <div class="profiles">
                    <div class="profile">
                        <div class="image">
                            <img src="{{ "images/model1.jpg" | relURL }}" alt="" />
                        </div>
                        <div class="content">
                            <h3>Ipsum nullam</h3>
                            <p>Sed egestas, ante et vulputate volutpat pede semper est luctus metus eu augue. Morbi purus amet libero.</p>
                            <ul class="actions">
                                <li><a href="#" class="button small">More</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile">
                        <div class="image">
                            <img src="{{ "images/model4.png" | relURL }}" alt="" />
                        </div>
                        <div class="content">
                            <h3>Metus gravida</h3>
                            <p>Sed egestas, ante et vulputate volutpat pede semper est luctus metus eu augue. Morbi purus amet libero.</p>
                            <ul class="actions">
                                <li><a href="#" class="button small">More</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile">
                        <div class="image">
                            <img src="{{ "images/model3.png" | relURL }}" alt="" />
                        </div>
                        <div class="content">
                            <h3>Faucibus lorem</h3>
                            <p>Sed egestas, ante et vulputate volutpat pede semper est luctus metus eu augue. Morbi purus amet libero.</p>
                            <ul class="actions">
                                <li><a href="#" class="button small">More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </footer>
    </div>
</div>