<div id="two">
    <div class="wrapper style2">
        <div class="inner">
            <div class="spotlights">
                <div class="intro">
                    <header>
                        <h2 class="left">Our<br /> VALUES</h2>
                        <p>Kindness: We are kind to one another at all times. Resilience: We have the courage and resilience to recover from any challenges or difficulties. Independence: We have confidence in ourselves and the ability to think and act independently.
                            Respect: We respect and are tolerant of one another. Responsibility: We take responsibility for all our actions.
                            Integrity: We are honest and guided by strong moral principles. Ambition: We are ambitious for ourselves and others.</p>
                    </header>
                    <ul class="actions">
                        <li><a href="/about" class="button">Details</a></li>
                    </ul>
                </div>
                <div class="spotlight">
                    <div class="image fit">
                        <img src="{{ "images/pic03.jpg" | relURL }}" alt="" />
                    </div>
                    <div class="content">Magna sed tempus</div>
                </div>
                <div class="spotlight">
                    <div class="image fit">
                        <img src="{{ "images/pic04.jpg" | relURL }}" alt="" />
                    </div>
                    <div class="content">Lorem ipsum dolor</div>
                </div>
            </div>
        </div>
    </div>
</div>